**/env.conf
**/secrets.conf
.*pv-map.tmp
docker*-registry-auth.json
**/id_rsa*
.last-saved-*
templated-output*.yaml
plaintext-*.secret
safe-to-delete*.secret
*id_rsa
*id_rsa.pub
*id_ed25519
*id_ed25519.pub
.DS_Store
.vscode
dev/
**/charts/
!/charts/README.md
Chart.lock
