---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: platform-apps
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 81.6.9
    chart: kube-prometheus-stack
    helm:
      values: |
        prometheus:
          prometheusSpec:
            retention: 7d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 10Gi
        grafana:
          enabled: true
          adminPassword: admin
          defaultDatasourceEnabled: true
          additionalDataSources:
            - name: Loki
              type: loki
              url: http://loki-gateway.monitoring.svc.cluster.local
              access: proxy
              isDefault: false
              jsonData:
                maxLines: 1000
          grafana.ini:
            server:
              root_url: "%(protocol)s://%(domain)s/grafana"
              serve_from_sub_path: true
        extraObjects:
          - apiVersion: traefik.io/v1alpha1
            kind: IngressRoute
            metadata:
              name: grafana
              namespace: monitoring
            spec:
              entryPoints:
                - web
              routes:
                - match: Host(`grafana.localhost`) || PathPrefix(`/grafana`)
                  kind: Rule
                  services:
                    - name: kube-prometheus-stack-grafana
                      port: 80
        alertmanager:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
